@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input:focus + .label-text,
  .input:not(:placeholder-shown) + .label-text {
    color: #007fff;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
